<div class="row section featured topspace">

    <h2 class="section-title"><span>Publications</span></h2>

    <div class="">
        {{ range where .Data.Pages.ByDate "Section" "papers" }}
            <div class="col-sm-6 col-md-4">
                <h4 class="text-left">{{ .Title }}</h3>
                <p>{{ .Summary }}</p>
                <p class="text-center"><a href="{{ .Permalink }}" class="btn btn-action">Read more</a></p>
            </div>
        {{ end }}
    </div>

</div> <!-- / section -->
